# Project 1

In [1]:
cd C:\Users\narkh\Downloads\Datasets\Decision tree

C:\Users\narkh\Downloads\Datasets\Decision tree

In [3]:
import pandas as pd
import numpy as np
from sklearn import tree
import matplotlib.pyplot as plt

In [5]:
train = pd.read_csv("train.csv")

In [42]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
from sklearn import preprocessing

In [8]:
label_encoder = preprocessing.LabelEncoder()

In [9]:
encoded = label_encoder.fit_transform(train["Sex"])

In [30]:
tree_model1 = tree.DecisionTreeClassifier(max_depth=8)
predictors = pd.DataFrame([encoded,train["Age"],train["Fare"]]).T
tree_model1.fit(X = predictors,y=train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [31]:
with open ("Dtree2.dot","w") as f:
    f=tree.export_graphviz(tree_model1,feature_names=["Sex","Age","Fare"],out_file=f)

In [32]:
tree_model1.score(X=predictors,y=train["Survived"])

0.9763779527559056

In [33]:
test = pd.read_csv("test.csv")

In [41]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [35]:
encoded1 = label_encoder.fit_transform(test["Sex"])

In [46]:
test_features1 = pd.DataFrame([encoded1,test["Age"],test["Fare"]]).T

In [47]:
test_preds1 = tree_model1.predict(X=test_features1)

In [49]:
predicted_output = pd.DataFrame({"PassengerId":test["PassengerId"],"Survived":test_preds1})

In [54]:
predicted_output.to_csv("Output.csv",index=False)

# Project 2

In [55]:
data = pd.read_csv("general_data.csv")

In [69]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [57]:
from sklearn.ensemble import RandomForestClassifier

In [75]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [67]:
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [66]:
data.dropna(inplace=True)

In [68]:
data["Gender"] = label_encoder.fit_transform(data["Gender"])

In [70]:
data["Over18"] = label_encoder.fit_transform(data["Over18"])

In [71]:
data["EducationField"] = label_encoder.fit_transform(data["EducationField"])

In [76]:
data["MaritalStatus"] = label_encoder.fit_transform(data["MaritalStatus"])

In [80]:
data["BusinessTravel"] = label_encoder.fit_transform(data["BusinessTravel"])
data["Department"] = label_encoder.fit_transform(data["Department"])
data["JobRole"] = label_encoder.fit_transform(data["JobRole"])

In [78]:
data["Attrition"] = label_encoder.fit_transform(data["Attrition"])

In [79]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [127]:
rf_model2 = RandomForestClassifier(n_estimators=4000,max_features=2,oob_score=True)

In [128]:
features2 = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [129]:
rf_model2.fit(X=data[features2],y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=4000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [130]:
print(rf_model2.oob_score_)

0.9997731911998186

In [131]:
for features2,imp in zip(features2,rf_model2.feature_importances_):
    print(features2,imp)

Age 0.09277064701504104
BusinessTravel 0.027035187798881914
Department 0.025223810564522702
DistanceFromHome 0.06674356646388689
Education 0.038881067762819396
EducationField 0.04014908312467999
EmployeeCount 0.0
EmployeeID 0.03788928824655942
Gender 0.016998908159937157
JobLevel 0.03633406881466972
JobRole 0.05331583900618873
MaritalStatus 0.03856904248610008
MonthlyIncome 0.08873665390420561
NumCompaniesWorked 0.05316290964684996
Over18 0.0
PercentSalaryHike 0.06255813591313443
StandardHours 0.0
StockOptionLevel 0.03268051863113451
TotalWorkingYears 0.08316960167583382
TrainingTimesLastYear 0.04344050121213118
YearsAtCompany 0.06673551372482416
YearsSinceLastPromotion 0.042151688076537845
YearsWithCurrManager 0.05345396777206155

"Age","DistanceFromHome","Education","EducationField","JobRole",MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,

TrainingTimesLastYear,YearsAtCompany ,YearsSinceLastPromotion,YearsWithCurrManager

In [148]:
model2 = tree.DecisionTreeClassifier()
predict2 = pd.DataFrame([data["Age"],data["DistanceFromHome"],data["Education"],data["EducationField"],data["JobRole"],data["MonthlyIncome"],data["NumCompaniesWorked"],data["PercentSalaryHike"],data["TotalWorkingYears"],data["TrainingTimesLastYear"],data["YearsAtCompany"],data["YearsSinceLastPromotion"],data["YearsWithCurrManager"]]).T
model2.fit(X = predict2,y=data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [149]:
with open ("Dtree3.dot","w") as f:
    f=tree.export_graphviz(model2,feature_names=["Age","DistanceFromHome","Education","EducationField","JobRole","MonthlyIncome","NumCompaniesWorked","PercentSalaryHike","TotalWorkingYears","TrainingTimesLastYear","YearsAtCompany","YearsSinceLastPromotion","YearsWithCurrManager"],out_file=f)

In [150]:
model2.score(X=predict2,y=data["Attrition"])

1.0

In [152]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

"Age","DistanceFromHome","Education","EducationField","JobRole",MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,

TrainingTimesLastYear,YearsAtCompany ,YearsSinceLastPromotion,YearsWithCurrManager

In [160]:
ypred1 = [[51,6,2,1,1,131160,1.0,11,1.0,6,1,0,0]]

In [161]:
test121 = model2.predict(X=ypred1)
test121

array([0])

In [162]:
ypred2 = [[31,10,1,1,2,41890,0,11,1.0,3,5,1,4]]
test121 = model2.predict(X=ypred2)
test121

array([1])

# Project 3

In [163]:
loan = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [164]:
loan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [165]:
loan.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [167]:
rf_model3 = RandomForestClassifier(n_estimators=5000,max_features=2,oob_score=True)

In [168]:
loan.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [170]:
features3 = ['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [171]:
rf_model3.fit(X=loan[features3],y=loan["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [172]:
print(rf_model3.oob_score_)

0.9856

In [173]:
for features3,imp in zip(features3,rf_model3.feature_importances_):
    print(features3,imp)

ID 0.04391903849010768
Age 0.03858458695100244
Experience 0.03792562317842496
Income 0.322262169754461
ZIP Code 0.04088404201565346
Family 0.08468305536819715
CCAvg 0.17132514970587598
Education 0.14373383098949505
Mortgage 0.04094829993951369
Securities Account 0.005240052360535215
CD Account 0.053509028403450114
Online 0.0078184773404402
CreditCard 0.009166645502843082

age,experiance,income,zipcode,family,securities account,cd account,online,credit card,

In [175]:
loan_model = tree.DecisionTreeClassifier()
loanex = pd.DataFrame([loan["Age"],loan["Experience"],loan["Income"],loan["Family"],loan["CCAvg"],loan["Education"],loan["Mortgage"],loan["CD Account"]]).T
loan_model.fit(X=loanex,y=loan["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [176]:
loan_model.score(X=loanex,y=loan["Personal Loan"])

1.0

In [177]:
loan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [180]:
ypredl = [[45,6,80,3,2.6,1,0,0]]
loan_model.predict(X=ypredl)

array([0], dtype=int64)

In [182]:
ypredm = [[34,9,180,2,8.90,3,0,0]]
loan_model.predict(X=ypredm)

array([1], dtype=int64)