# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:

The first line of the input contains an email address.

Output Format:

Print the company name in single line.

Example;

Input:

john@google.com

Output:

google

In [3]:
email = input("Enter Input: ")
x = email.index("@")
print(email[x+1:len(email)-4])

Enter Input: chetan@yahoo.com
yahoo

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:

The first line of input contains words separated by the comma.

Output Format:

Print the sorted words separated by the comma.

Example:

Input:

without,hello,bag,world

Output:

bag,hello,without,world

In [7]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordsred, bag, tool, black
 bag, black, tool,red

# Question 3:
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.aspQuestion 3:

In [6]:
#1.Creating set
set1 = {"chetan","Rushikesh","Omkar"}
print(set1)

{'Omkar', 'Rushikesh', 'chetan'}

In [7]:
#Acess Items
for x in set1:
    print(x)

Omkar
Rushikesh
chetan

In [8]:
print("chetan" in set1)

True

In [16]:
#Add items
set1.add("Tushar")
print(set1)

{'Omkar', 'Rushikesh', 'Tushar', 'chetan'}

In [11]:
#Length of the set
print(len(set1))

4

In [17]:
#removeitem
set1.remove("Tushar")
print(set1)

{'Omkar', 'Rushikesh', 'chetan'}

In [20]:
#join 2 sets
a = {'a','b','c','d'}
b= {1, 2, 3, 4}
a.update(b)
print(a)

{1, 2, 3, 4, 'd', 'b', 'a', 'c'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [15]:
def getMissingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 

A = [1, 2, 4, 5, 6] 
miss = getMissingNo(A) 
print(miss)

3.0

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [4]:
def remove(l):
    final_l = []
    for num in l:
        if num not in final_l:
            final_l.append(num)
    return final_l

l = [12,24,35,24,88,120,155,88,120,155]
print(remove(l))

[12, 24, 35, 88, 120, 155]