# KNN (K - Nearest Neighbours)

In [1]:
cd C:\Users\narkh\Downloads\Datasets\Decision tree

C:\Users\narkh\Downloads\Datasets\Decision tree

In [3]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [5]:
data = pd.read_csv("train.csv")

In [30]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [9]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
le = preprocessing.LabelEncoder()

In [12]:
data["Sex"] = le.fit_transform(data["Sex"])
data["Embarked"] = le.fit_transform(data["Embarked"])

In [13]:
from sklearn import neighbors

In [15]:
y = data["Survived"]
X = data[['Pclass','Sex', 'Age', 'SibSp','Parch', 'Fare', 'Embarked']]

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [81]:
knn = neighbors.KNeighborsClassifier(n_neighbors=50)

In [82]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=50, p=2,
                     weights='uniform')

In [83]:
knn.score(X_train,y_train)

0.7222222222222222

In [86]:
confusion_matrix(y_test,y_pred)

array([[100,  32],
       [ 38,  53]], dtype=int64)

In [70]:
y_pred = knn.predict(X_test)

In [71]:
knn.predict([[1,0,21,0,2,144.86,2]])

array([1], dtype=int64)

n_neighbour----------------------------Accuracy

================================

    1                        98%
    
    2                        83%
    
    5                        78%
    
    10                       76%
    
    50                       72%
    
- Model gives 98% accuracy when we keep n_neighbors = 1, and accuracy gets decreased as we increase value of n_neighbours

# SVM(Support Vector Machine)

In [84]:
data1 = pd.read_csv("train.csv")

In [85]:
data1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [87]:
from sklearn import svm

In [88]:
data1["Sex"] = le.fit_transform(data1["Sex"])
data1["Embarked"] = le.fit_transform(data1["Embarked"])

In [89]:
y = data1["Pclass"]
X = data1[['Survived','Sex', 'Age', 'SibSp','Parch', 'Fare', 'Embarked']]

In [98]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)
clf = svm.SVC(gamma=0.01,C=100)
clf.fit(X_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [97]:
y_pred = clf.predict(X_test)
accuracy_score(y_test,y_pred,normalize=True)

0.9103139013452914

    
    .

In [120]:
y1 = data1["Survived"]
X1 = data1[['Pclass','Sex', 'Age', 'SibSp','Parch', 'Embarked']]

In [121]:
X1_train,X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size=0.25,random_state=0)
clf1 = svm.SVC(gamma=0.01,C=100)
clf1.fit(X1_train,y1_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [122]:
y_pred1 = clf1.predict(X1_test)
accuracy_score(y1_test,y_pred1,normalize=True)

0.7713004484304933

  
     .

In [123]:
y2 = data1["Sex"]
X2 = data1[['Pclass','Survived', 'Age', 'SibSp','Parch', 'Embarked']]

In [124]:
X2_train,X2_test,y2_train,y2_test = train_test_split(X2,y2,test_size=0.25,random_state=0)
clf2 = svm.SVC(gamma=0.01,C=100)
clf2.fit(X2_train,y2_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [125]:
y_pred2 = clf2.predict(X2_test)
accuracy_score(y2_test,y_pred2,normalize=True)

0.7443946188340808

   
     .

In [126]:
y3 = data1["Embarked"]
X3 = data1[['Pclass','Survived', 'Age', 'SibSp','Parch', 'Sex']]

In [127]:
X3_train,X3_test,y3_train,y3_test = train_test_split(X3,y3,test_size=0.25,random_state=0)
clf3 = svm.SVC(gamma=0.01,C=100)
clf3.fit(X3_train,y3_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [128]:
y_pred3 = clf3.predict(X3_test)
accuracy_score(y3_test,y_pred3,normalize=True)

0.7354260089686099

   
   .

In [129]:
y4 = data1["SibSp"]
X4 = data1[['Pclass','Survived', 'Age', 'Embarked','Parch', 'Sex']]

In [130]:
X4_train,X4_test,y4_train,y4_test = train_test_split(X4,y4,test_size=0.25,random_state=0)
clf4 = svm.SVC(gamma=0.01,C=100)
clf4.fit(X4_train,y4_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [131]:
y_pred4 = clf4.predict(X4_test)
accuracy_score(y4_test,y_pred4,normalize=True)

0.695067264573991

   
   
    .

In [132]:
y5 = data1["Parch"]
X5 = data1[['Pclass','Survived', 'Age', 'Embarked','SibSp', 'Sex']]

In [133]:
X5_train,X5_test,y5_train,y5_test = train_test_split(X5,y5,test_size=0.25,random_state=0)
clf5 = svm.SVC(gamma=0.01,C=100)
clf5.fit(X5_train,y5_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [134]:
y_pred5 = clf5.predict(X5_test)
accuracy_score(y5_test,y_pred5,normalize=True)

0.7847533632286996